@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.circle-container {
  position: relative;
  width: 400px;
  height: 600px;
  padding: 20px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
}

.card {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.card-container {
  margin: none;
  padding: none;
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.circle-item {
  position: absolute; 
  width: 90px; 
  height: 120px;
  background-color: rgb(247, 244, 244);
  display: block; 
  justify-content: center;
  align-items: center;
  padding:0%;
  top: 40%; 
  left: 40%;
  margin: 0px;
  border: none;
}

// .circle-container img { display: block; width: 100%; }
.middle { transform: rotate(30deg) rotate(-30deg); }
.deg0 { transform: translate(285px); } /* 12em = half the width of the wrapper */
.deg30 { transform: rotate(30deg) translate(230px) rotate(-30deg); }
.deg60 { transform: rotate(60deg) translate(230px) rotate(-60deg); }
.deg90 { transform: rotate(90deg) translate(230px) rotate(-90deg); }
.deg120 { transform: rotate(120deg) translate(230px) rotate(-120deg); }
.deg150 { transform: rotate(150deg) translate(230px) rotate(-150deg); }
.deg180 { transform: rotate(180deg) translate(285px) rotate(-180deg); }
.deg210 { transform: rotate(210deg) translate(230px) rotate(-210deg); }
.deg240 { transform: rotate(240deg) translate(230px) rotate(-240deg); }
.deg270 { transform: rotate(270deg) translate(230px) rotate(90deg); }
.deg300 { transform: rotate(300deg) translate(230px) rotate(-300deg); }
.deg330 { transform: rotate(330deg) translate(230px) rotate(-330deg); }

