@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.circle-container {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 600px;
  padding: 30px 200px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
}

.card-button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: block;
}

.circle-item {
  position: absolute; 
  display: block; 
  justify-content: center;
  align-items: center;
  padding:0%;
  top: 40%; 
  left: 40%;
  margin: 0px;
  border: none;
  width: 90px; 
  height: 120px;
}

.open-card {
  display: inline-block;
  vertical-align: 1200%;
}

.open-card img {
  max-width: 150px;
}

.card {
  position: fixed; 
  bottom: 0; 
  max-width: 90px; 
  max-height: 120px;
}

.stacked-cards img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.highlight {
  background-color: rgb(27, 169, 122);
  width: 100px; 
  height: 130px;
}

.no-highlight {
  background-color: rgb(247, 244, 244);
}

.dragging {
  opacity: 0.5;
}

.stacked-cards {
  position: relative; 
  margin: 2px auto;
  max-width: 90px; 
  max-height: 120px;
}

.card:nth-child(1) {
  bottom: 0px;
  z-index: 5;
}

.card:nth-child(2) {
  bottom: 20px; 
  z-index: 4;
}

.card:nth-child(3) {
  bottom: 40px; 
  z-index: 3;
}

.card:nth-child(4) {
  bottom: 60px; 
  z-index: 2;
}

.card:nth-child(5) {
  bottom: 80px; 
  z-index: 1;
}

.middle { transform: rotate(30deg) rotate(-30deg); }
.deg0 { transform: translate(285px); } /* 12em = half the width of the wrapper */
.deg30 { transform: rotate(30deg) translate(230px) rotate(-30deg); }
.deg60 { transform: rotate(60deg) translate(230px) rotate(-60deg); }
.deg90 { transform: rotate(90deg) translate(230px) rotate(-90deg); }
.deg120 { transform: rotate(120deg) translate(230px) rotate(-120deg); }
.deg150 { transform: rotate(150deg) translate(230px) rotate(-150deg); }
.deg180 { transform: rotate(180deg) translate(285px) rotate(-180deg); }
.deg210 { transform: rotate(210deg) translate(230px) rotate(-210deg); }
.deg240 { transform: rotate(240deg) translate(230px) rotate(-240deg); }
.deg270 { transform: rotate(270deg) translate(230px) rotate(90deg); }
.deg300 { transform: rotate(300deg) translate(230px) rotate(-300deg); }
.deg330 { transform: rotate(330deg) translate(230px) rotate(-330deg); }

