@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

.circle-container {
  position: relative;
  width: 400px;
  height: 600px;
  padding: 20px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
}

.card-container {
  margin: none;
  padding: none;
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.circle-item {
  position: absolute; 
  display: block; 
  justify-content: center;
  align-items: center;
  padding:0%;
  top: 40%; 
  left: 40%;
  margin: 0px;
  border: none;
}

.highlight {
  background-color: rgb(27, 169, 122);
  width: 100px; 
  height: 130px;
}

.no-highlight {
  width: 90px; 
  height: 120px;
  background-color: rgb(247, 244, 244);
}

.dragging {
  opacity: 0.5;
}

.stacked-cards {
  position: relative; /* Establish a positioning context */
  max-width: 90px; /* Adjust as needed */
  margin: 50px auto;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky; /* Make cards sticky within their parent */
  top: 0; /* Initial sticky position */
  z-index: 1; /* Ensure cards stack correctly */
}

.stacked-cards img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

/* Dynamically adjust 'top' for each card to create the stacked effect */
.card:nth-child(1) {
  top: 0px;
  z-index: 3; /* Higher z-index for the top card */
}

.card:nth-child(2) {
  top: 20px; /* Adjust this value to control the visible portion of the card below */
  z-index: 2;
}

.card:nth-child(3) {
  top: 40px; /* Adjust this value to control the visible portion of the card below */
  z-index: 1;
}

// .circle-container img { display: block; width: 100%; }
.middle { transform: rotate(30deg) rotate(-30deg); }
.deg0 { transform: translate(285px); } /* 12em = half the width of the wrapper */
.deg30 { transform: rotate(30deg) translate(230px) rotate(-30deg); }
.deg60 { transform: rotate(60deg) translate(230px) rotate(-60deg); }
.deg90 { transform: rotate(90deg) translate(230px) rotate(-90deg); }
.deg120 { transform: rotate(120deg) translate(230px) rotate(-120deg); }
.deg150 { transform: rotate(150deg) translate(230px) rotate(-150deg); }
.deg180 { transform: rotate(180deg) translate(285px) rotate(-180deg); }
.deg210 { transform: rotate(210deg) translate(230px) rotate(-210deg); }
.deg240 { transform: rotate(240deg) translate(230px) rotate(-240deg); }
.deg270 { transform: rotate(270deg) translate(230px) rotate(90deg); }
.deg300 { transform: rotate(300deg) translate(230px) rotate(-300deg); }
.deg330 { transform: rotate(330deg) translate(230px) rotate(-330deg); }

