@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  margin:0%;
}

h1 {
  text-align: center;
}

#site-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
  grid-auto-rows: minmax(50px, auto);
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  //transform to set to center of page
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px;
  //Make sure on top of everything
  z-index: 1000;
  border-radius: 10px;
}

.modal-background-overlay {
  position: fixed;
  top: 0;
  inset: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 1000;
}

.modal-content {
  padding: 20px;
}

header {
  grid-column: 1/4;
  grid-row: 1;
}

footer {
  grid-column: 1/4;
  grid-row: 3;
}

main {
  grid-column: 2/3;
  grid-row: 2;
}

.circle-container {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 800px;
  border-radius: 50%;
  margin: auto;
  text-align: center;
}

.card-button {
  margin: 0px;
  padding: 0px;
  border: 0px;
  display: block;
}

.circle-item {
  position: absolute; 
  display: block; 
  justify-content: center;
  align-items: center;
  padding:0%;
  top: 40%; 
  left: 40%;
  margin: 0px;
  border: none;
  width: 90px; 
  height: 120px;
}

.card {
  position: fixed; 
  bottom: 0; 
  max-width: 90px; 
  max-height: 120px;
}

.stacked-cards img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.stacked-cards {
  position: relative; 
  margin: 2px auto;
  max-width: 90px; 
  max-height: 120px;
}

.card:nth-child(1) {
  bottom: 0px;
  z-index: 5;
}

.card:nth-child(2) {
  bottom: 20px; 
  z-index: 4;
}

.card:nth-child(3) {
  bottom: 40px; 
  z-index: 3;
}

.card:nth-child(4) {
  bottom: 60px; 
  z-index: 2;
}

.card:nth-child(5) {
  bottom: 80px; 
  z-index: 1;
}

.card:nth-child(6) {
  bottom: 100px; 
  z-index: 0;
}

.dropzone {
    z-index: 10;
    position: relative;
    top: -20px;
    width: 130px;
    height: 170px;
    left: -20px;
}

.draggablediv {
  max-width: 90px; 
  max-height: 120px;
  position: relative;
  top: 42%;
}

.draggablediv img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.alert-message {
  height: 300px;
  width: 250px;
  position: absolute;
  padding: 20px;
  text-align: center;
}

.alert-message img {
  max-width: 75%
}

.alert-message button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}

.close-modal {
  background-color: inherit;
  color: white;
  float: right;
  font-size: large;
  border: 1px solid white;
}

.glow-blue {
  box-shadow: 0 0 50px rgb(10, 99, 195);
}

.glow-black {
  box-shadow: 0 6px 10px black;
}

.inner-glow {
  filter: sepia(100%) hue-rotate(180deg) saturate(250%)
}

.grey-bg {
  background-color: rgb(69, 68, 68);
  color: white;
}

.green-bg {
  background-color: rgb(20, 122, 57);
  color: white;
}

.dice-container {
  position: relative;
}

.cross-image-front {
  position: absolute;
  z-index: 1;
}

.rounded-corner-tiny {
  border-radius: 2px;
}

.place-king { transform: rotate(30deg) rotate(-30deg); }
.place-3 { transform: translate(310px); }
.place-4 { transform: rotate(30deg) translate(240px) rotate(-30deg); }
.place-5 { transform: rotate(60deg) translate(215px) rotate(-60deg); }
.place-6 { transform: rotate(90deg) translate(240px) rotate(-90deg); }
.place-7 { transform: rotate(120deg) translate(215px) rotate(-120deg); }
.place-8 { transform: rotate(150deg) translate(240px) rotate(-150deg); }
.place-9 { transform: rotate(180deg) translate(310px) rotate(-180deg); }
.place-10 { transform: rotate(210deg) translate(240px) rotate(-210deg); }
.place-jack { transform: rotate(240deg) translate(215px) rotate(-240deg); }
.place-queen { transform: rotate(270deg) translate(240px) rotate(90deg); }
.place-ace { transform: rotate(300deg) translate(215px) rotate(-300deg); }
.place-2 { transform: rotate(330deg) translate(240px) rotate(-330deg); }

/* tablets */
@media only screen and (max-width: 919px) {
  /* Setting size/layout for page sections for tablets */
  #site-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    grid-auto-rows: minmax(50px, auto);
  }

  header {
    grid-column: 1/ span 1;
  }

  footer {
    grid-column: 1/ span 1;
  }

  main {
    grid-column: 1/ span 1;
  }

    .circle-container {
    display: inline-block;
    max-width: 350px;
    max-height: 400px;
  }

  .circle-item {
    max-width: 45px; 
    max-height: 60px;
  }

  .card {
    max-width: 45px; 
    max-height: 60px;
  }

  .stacked-cards {
    max-width: 45px; 
    max-height: 60px;
  }

    .card:nth-child(1) {
    bottom: 0px;
  }

  .card:nth-child(2) {
    bottom: 10px; 
  }

  .card:nth-child(3) {
    bottom: 20px; 
  }

  .card:nth-child(4) {
    bottom: 30px; 
  }

  .card:nth-child(5) {
    bottom: 40px; 
  }

  .dropzone {
      z-index: 10;
      top: -15px;
      width: 50px;
      height: 75px;
      left: -20px;
  }

  .draggablediv {
    max-width: 45px; 
    max-height: 60px;
    top: 42%;
  }

  .glow-blue {
    box-shadow: 0 0 25px rgb(10, 99, 195);
  }

  .glow-black {
    box-shadow: 0 3px 5px black;
  }

  .alert-message {
    height: 150px;
    width: 200px;
    position: absolute;
    top: 100px;
    right: 25px;
    padding: 10px;
    border-radius: 5px;
  }

  .alert-message button {
    padding: 15px;
    border-radius: 3px;
  }

  .place-king { transform: rotate(30deg) rotate(-30deg); }
  .place-3 { transform: translate(155px); }
  .place-4 { transform: rotate(30deg) translate(120px) rotate(-30deg); }
  .place-5 { transform: rotate(60deg) translate(105px) rotate(-60deg); }
  .place-6 { transform: rotate(90deg) translate(120px) rotate(-90deg); }
  .place-7 { transform: rotate(120deg) translate(105px) rotate(-120deg); }
  .place-8 { transform: rotate(150deg) translate(120px) rotate(-150deg); }
  .place-9 { transform: rotate(180deg) translate(155px) rotate(-180deg); }
  .place-10 { transform: rotate(210deg) translate(120px) rotate(-210deg); }
  .place-jack { transform: rotate(240deg) translate(105px) rotate(-240deg); }
  .place-queen { transform: rotate(270deg) translate(120px) rotate(90deg); }
  .place-ace { transform: rotate(300deg) translate(105px) rotate(-300deg); }
  .place-2 { transform: rotate(330deg) translate(120px) rotate(-330deg); }

  .rounded-corner-tiny {
  border-radius: 0px;
  }

}

/* phones */
@media only screen and (max-width: 400px) {
  /* Setting size/layout for page sections for phones*/
  #site-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    grid-auto-rows: minmax(20px, auto);
  }

  .circle-container {
    display: inline-block;
    max-width: 250px;
    max-height: 390px;
  }

  .circle-item {
    max-width: 40px; 
    max-height: 55px;
  }

  .card {
    max-width: 40px; 
    max-height: 55px;
  }

  .stacked-cards {
    max-width: 40px; 
    max-height: 55px;
  }

    .card:nth-child(1) {
    bottom: 0px;
  }

  .card:nth-child(2) {
    bottom: 10px; 
  }

  .card:nth-child(3) {
    bottom: 20px; 
  }

  .card:nth-child(4) {
    bottom: 30px; 
  }

  .card:nth-child(5) {
    bottom: 40px; 
  }

  .dropzone {
      z-index: 10;
      top: -10px;
      width: 50px;
      height: 75px;
      left: -5px;
  }

  .draggablediv {
    max-width: 40px; 
    max-height: 55px;
    top: 42%;
  }

  .place-king { transform: rotate(30deg) rotate(-30deg); }
  .place-3 { transform: translate(140px); }
  .place-4 { transform: rotate(30deg) translate(115px) rotate(-30deg); }
  .place-5 { transform: rotate(60deg) translate(100px) rotate(-60deg); }
  .place-6 { transform: rotate(90deg) translate(120px) rotate(-90deg); }
  .place-7 { transform: rotate(120deg) translate(100px) rotate(-120deg); }
  .place-8 { transform: rotate(150deg) translate(115px) rotate(-150deg); }
  .place-9 { transform: rotate(180deg) translate(140px) rotate(-180deg); }
  .place-10 { transform: rotate(210deg) translate(115px) rotate(-210deg); }
  .place-jack { transform: rotate(240deg) translate(100px) rotate(-240deg); }
  .place-queen { transform: rotate(270deg) translate(120px) rotate(90deg); }
  .place-ace { transform: rotate(300deg) translate(100px) rotate(-300deg); }
  .place-2 { transform: rotate(330deg) translate(115px) rotate(-330deg); }
}